USE [master]
GO
/****** Object:  Database [geeksBank]    Script Date: 7/06/2023 3:57:58 p. m. ******/
CREATE DATABASE [geeksBank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'geeksBank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\geeksBank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'geeksBank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\geeksBank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [geeksBank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [geeksBank]
GO
/****** Object:  User [geekuser]    Script Date: 7/06/2023 3:57:58 p. m. ******/
CREATE USER [geekuser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [calculatorUser]    Script Date: 7/06/2023 3:57:58 p. m. ******/
CREATE USER [calculatorUser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [geekuser]
GO
/****** Object:  Table [dbo].[operation]    Script Date: 7/06/2023 3:57:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[num1] [int] NOT NULL,
	[num2] [int] NOT NULL,
	[result] [int] NOT NULL,
	[isInFibonacci] [bit] NOT NULL,
 CONSTRAINT [PK_operation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
